{
  "data_dir": "/var/consul",
  "bind_addr": "{{ ansible_host }}",
  "client_addr": "127.0.0.1 {{ ansible_host }}",
{% if inventory_hostname in groups['controller'] %}
  "server": true,
{% if consul_bootstrap_expect is defined %}
  "bootstrap_expect": {{ consul_bootstrap_expect }},
{% endif %}
{% endif %}
  "retry_join": [{% for host in groups['controller'] %}"{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %}, {% endif %}{% endfor %}],
  "rejoin_after_leave": true,
  "encrypt": "{{ consul_encrypt }}",
  "ui": true
}
